.navbar {
  display: flex;
  flex-direction: row;
  
  .navbar-left {
    display: flex;
  }
  
  .navbar-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    ul.nav-links {
      
      display: flex;
      flex-direction: row;
      gap: 32px;
      justify-content: center;
      vertical-align: center;
      width: 100%;
      
      li {
        margin: auto 0;
      }
    }
  }
}